[app-theme^="light"],
[app-theme] [app-theme^="light"] {
  --text-color: #333333;
  --background-color: #fcfcfc;
  --non-active-color: #cccccc;
  --non-active-status-color: #dddddd;
  --switch-background-color: #cccccc;
  --switch-slider-color: #ffffff;
  --switch-active-color: #1da1f2;


  --main-color: #000;
  --sidebar-color: #323232;
  --sidebar-background-color: #f5f5f5;
  --sidebar-li-color: #fff;
  --sidebar-li-hover-color: #eaeaea;
  --sidebar-li-active-color: #e0e0e0;
  --box-color: lightgrey;
  --title-bar-background-color: white;
  --title-border-color: rgba(0, 0, 0, 0.3);
}

[app-theme^="dark"],
[app-theme] [app-theme^="dark"] nav {
  --text-color: #dddddd;
  --background-color: #1e1e1e;
  --non-active-color: #555555;
  --non-active-status-color: #333333;
  --switch-background-color: #555555;
  --switch-slider-color: #dddddd;
  --switch-active-color: #3fb36d;


  --blue: #1da1f2;

  --main-color: #cccccc;
  --sidebar-color: #cccccc;
  --sidebar-background-color: #252525dc;
  --sidebar-li-color: #fff;
  --sidebar-li-hover-color: #2d2d2d;
  --sidebar-li-active-color: #373737;
  --box-color: grey;
  --title-bar-background-color: #323232;
  --title-border-color: rgba(0, 0, 0, 0.6);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inline-icon {
  vertical-align: bottom;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}
